.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
test/**
node_modules/**
!node_modules/axios/**
!node_modules/cheerio/**
.eslintignore
.eslintrc.js
.prettierrc
webpack.config.js
*.vsix 